<% if obj.errors.any? %>
<div class="alert alert-error">
  <ul>
    <p>Please fix the following errors:</p>
    <% obj.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
