<%= render 'shared/header', header: "Create a new post" %>
<div class="well">

  <%= render 'shared/errors', obj: @post %>

  <%= render "shared/form" %>

  <%= link_to "See All Posts", root_path %>
</div>
