/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: url("/images/post-it-note.jpg") no-repeat right top fixed;
}

 @import "bootstrap";

 .container {
  margin-left: 135px;
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
  color: yellow;
}

.navbar .nav > li > a.brand:hover {
  color: white;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.link-btn {
  color: white !important;
}

a.link-btn:hover {
  color: yellow !important;
}

.push_right {
  margin-left: 580px;
  color: white !important;
}

a.push_right:hover {
  color: yellow !important;
}

.urls {
  color: #0066cc;
}

.names {
  color: #0066cc;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
    color: yellow;
  }
}

div.comment_votes {
  padding: 10px;
}

span.show_current_user {
  float: left;
}

div.show_user_tabs {
  float: left;
  margin-right: 300px;
}

