<%= render 'shared/header', header: "All #{@category.name} Posts" %>
<div class='well'>
  <h5>
    <ul class="unstyled">
      <% @category.postcategories.each do |c|%>
        <li><%= link_to c.post.title, post_path(c.post) %></li>
      <% end %>
    </ul>
  </h5>
</div>

